
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* .scrollbar {
    overflow-y: scroll;
    scrollbar-width: none;
    height: 500px;
  }
  
  .scrollbar::-webkit-scrollbar {
    display: none;
  }
   */

   
  




/* @tailwind base;
@tailwind components;
@tailwind utilities; */
